#body-app {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
    max-width: 1200px;
    margin: auto;
}
.card-width {
    margin-bottom: 2rem;
}

.mat-card-header {
    display: inherit;
    flex-direction: inherit;
}

#btn-add-action {
    margin-bottom: 0;
    position: fixed;
    right: 20px;
    bottom: 3rem;
}