<div id="board">
    <mat-card class="app-sprint mat-elevation-z8">
        <div class="example-action-buttons">
            <div id="header">
                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Sprint</mat-label>
                    <select matNativeControl (change)="selectSprint($event)">
                      <option *ngFor="let option of sprints" [value]="option.id"
                              [selected]="sprintDefalut.id === option.id">{{ option.name }}</option>
                    </select>
                </mat-form-field>
    
                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Persona Asignada</mat-label>
                    <select matNativeControl (change)="selectPerson($event)">
                      <option *ngFor="let option of persons" [value]="option.id"
                              [selected]="personDefault.id === option.id">{{ option.name }}</option>
                    </select>
                </mat-form-field>
    
                <button mat-mini-fab mat-button color="primary" (click)="accordion.openAll()" style="margin-right: 10px;">
                    <mat-icon>unfold_more</mat-icon>
                </button>
                
                <button mat-mini-fab mat-button color="accent"  (click)="accordion.closeAll()" style="margin-right: 10px;">
                    <mat-icon>unfold_less</mat-icon>
                </button>
        
                <button class="btn-board-action" mat-raised-button color="warn" (click)="openTicketForm()">
                    <mat-icon>add</mat-icon>
                    CREAR TICKET
                </button>
            </div>
            
            <div id="extras">
                {{sprintDefalut.beginDate | date: 'd MMMM'}} - {{sprintDefalut.endDate | date: 'd MMMM'}}
            </div>

        </div>
    </mat-card>
    <br><br>
    <div class="example-headers-align">
        <div class="panel-h">
            <div class="panel-h-b">
                <div class="board-h" style="text-align: center;">
                    Nuevo
                </div>
                <div class="board-h" style="text-align: center;">
                    En Progreso
                </div>
                <div class="board-h" style="text-align: center;">
                    Completado
                </div>
            </div>
        </div>
    </div>

    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel class="ticket-item" *ngFor="let ticket of tickets">
            <mat-expansion-panel-header>

                <mat-panel-title>
                    <b style="margin-right: 5px;">{{ticket.id}}</b> {{ticket.name}}
                </mat-panel-title>

            </mat-expansion-panel-header>

            <div class="panel-b-b">

                <div class="board-d board-d-news" cdkDropList #newList="cdkDropList" (cdkDropListDropped)="drop($event)" [cdkDropListData]="ticket.news" [cdkDropListConnectedTo]="[progressList]">

                    <div class="task" *ngFor="let item of ticket.news" id="{{item.id}}" cdkDrag>
                        <div class="item-select-options">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Borrar</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar</span>
                                </button>
                            </mat-menu>
                        </div>
                        <p class="task-title">{{item.name}}</p>
                        <p class="task-detail">{{item.description}}</p>
                    </div>

                    <button mat-mini-fab (click)="openDialog(ticket.id)" color="accent" style="background-color: green;" class="btn-add-action">
                        <mat-icon>add</mat-icon>
                    </button>

                </div>
                <div class="board-d board-d-progress" cdkDropList #progressList="cdkDropList" (cdkDropListDropped)="drop($event)" [cdkDropListData]="ticket.progress" [cdkDropListConnectedTo]="[completeList, newList]">

                    <div class="task" *ngFor="let item of ticket.progress" id="{{item.id}}" cdkDrag>
                        <div class="item-select-options">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Borrar</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar</span>
                                </button>
                            </mat-menu>
                        </div>
                        <p class="task-title">{{item.name}}</p>
                        <p class="task-detail">{{item.description}}</p>
                    </div>

                </div>
                <div class="board-d board-d-complete" cdkDropList #completeList="cdkDropList" (cdkDropListDropped)="drop($event)" [cdkDropListData]="ticket.complete" [cdkDropListConnectedTo]="[progressList]">

                    <div class="task" *ngFor="let item of ticket.complete" id="{{item.id}}" cdkDrag>
                        <div class="item-select-options">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Borrar</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar</span>
                                </button>
                            </mat-menu>
                        </div>
                        <p class="task-title">{{item.name}}</p>
                        <p class="task-detail">{{item.description}}</p>
                    </div>

                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>