<form class="col-lg-4 mx-auto" (ngSubmit)="formSubmit(data.id)">
    <h1 mat-dialog-title>Registrar Tarea</h1>
    <div mat-dialog-content>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre de la Tarea</mat-label>
            <input [(ngModel)]="task.name" required name="name" matInput placeholder="Ingrese el nombre de la tarea">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Descripción</mat-label>
            <textarea required [(ngModel)]="task.description" name="description" matInput placeholder="Descripción de la nueva tarea..."></textarea>
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button type="reset">Limpiar</button>
        <button mat-button>Guardar</button>
    </div>
</form>