.card-width {
    margin: auto;
    max-width: 450px;
}

.mat-card-header {
    display: inherit;
    flex-direction: inherit;
}

#btn-add-action {
    margin-bottom: 0;
    position: fixed;
    right: 20px;
    bottom: 3rem;
}

.example-chip-list {
    width: 100%;
}